{% extends 'base.html.twig' %}

{% block title %}City index{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY')%}
    <h1>Забронировать отель</h1>
    <h5>В какой город вы хотите поехать?</h5>
    <table class="table">
        <thead>
            <tr>

                <th>Город</th>

            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>

                <td>{{ city.name }}</td>
                <td>
                    <a href="{{ path('city_show', {'id': city.id}) }}">Выбрать отель</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <h2>Пожалуста зарегестрируйтесь или войдите в систему.</h2>
{% endif %}
    {#<a href="{{ path('city_new') }}">Create new</a>#}
{% endblock %}
